body {
    color: #1faa50;
    font-family: Spotify;
    background-color: #373737;
}

@font-face {
    font-family: Spotify;
    src: url(./fonts/GothamMedium.ttf)
}
.flex-spotify {
    display: flex;
}

.flex-page-top {
    display: flex;
    border: 3px solid black;
    border-radius: 8px;
    justify-content: space-between;
    font-family: Spotify;
    background: #222222;
    padding: 5px;
}




.button{
    background-color: #1faa50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.spotify-button {
    background-color: #1faa50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.about-button{
    background-color: #1faa50; /* Green */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}