<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Friends</title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/friends_styles.css') }}">
    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div class="logo">
                    <img src="{{ icon_link }}">
                </div>
                <div class="welcome">
                    <span class="weltext">Welcome to <span class="friend">Friendify</span>, <span id="username">Guest</span></span>
                </div>
              <ul class="nav--list">
                <li class="item"><button><a href="/">Home</a></button></li>
                <li class="item"><button><a href="/about">About</a></button></li>
                <li class="item"><button><a href="/db">Stats</a></button></li>
                <li class="item"><button><a href="/friends">Friends</a></button></li>
                <li class="item"><button><a href="/login" class="log">Login</a></button></li>
              </ul>
            </nav>
          </div>


        <h1>Your Friends</h1>
        {% if friends %}
            <ul>
                {% for friend in friends %}
                    <li>{{ friend }}</li>
                {% endfor %}
            </ul>
            {% else %}
                <p>You have no friends added.</p>
            {% endif %}

        <!-- Add Friend Button -->
        <button onclick="askForFriend()">Add Friend</button>

        <script>
         function askForFriend() {
             var friendName = prompt("Enter friend's name:");
            
             if (friendName !== null) {
                    fetch('/addfriend', {
                        method: 'POST',
                        headers: {
                         'Content-Type': 'application/json',
                        },
                     body: JSON.stringify({ friendName: friendName }),
                    })
                    .then(response => response.json())
                   .then(data => {
                      alert(data.message);
                  })
                  .catch(error => {
                        console.error('Error:', error);
                 });
             }
            }
        </script>

        <script>
            window.onload = function() {
                const username = "{{ username }}"; // Use the value from Flask session
                document.getElementById('username').textContent = username;
            };
        </script>
    
    </body>
</html>
