<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <Title>Friendify</Title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

        <!-- THE FOLLOWING SCRIPTS ARE NEEDED FOR COMPILING REACT -->
        <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    </head>
    <body>
        <div class="container">
            <nav class="navbar">
                <div class="logo">
                    <img src="{{ icon_link }}">
                </div>
                <div class="welcome">
                    <span class="weltext">Welcome to <span class="friend">Friendify</span>, <span id="username">Guest</span></span>
                </div>
              <ul class="nav--list">
                <li class="item"><button><a href="/">Home</a></button></li>
                <li class="item"><button><a href="/about">About</a></button></li>
                <li class="item"><button><a href="/stats">Stats</a></button></li>
                <li class="item"><button><a href="/friends">Friends</a></button></li>
                <li class="item"><button><a href="/login" class="log">Login</a></button></li>
              </ul>
            </nav>
          </div>

          <div class="spacer"></div>
          <div class="random-fact-container">
            {% if is_logged_in %}
                {% if random_statistic %}
                <p>Did you know? {{ random_statistic }}</p>
                    {% if image_url %}
                    <img src="{{ image_url }}" alt="Image" style="max-width: 300px; max-height: 300px;">
                    {% endif %}
                {% endif %}
            {% else %}
            {% endif %}
        </div>

 
        <!--     REACT TEST WORK    
            <div class="welcome-back"></div>

            <script type="text/babel" src="{{ url_for('static', filename='js/test.js') }}"></script>
            <script type="text/babel" src="{{ url_for('static', filename='js/CoolButton.js') }}"></script>

            <script type="text/babel">
                ReactDOM.render(<WelcomeBack />, document.querySelector(".welcome-back"));
            </script> -->
    
            <script>
                window.onload = function() {
                    const username = "{{ username }}"; // Use the value from Flask session
                    document.getElementById('username').textContent = username;
                };
            </script>
    </body>
</html>