<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <Title> Friendify</Title>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <script src="{{ url_for('static', filename='js/test.js') }}"></script>
        <div class = "flex-page-top">
            <div class = "flex-spotify">
                <img src="{{ url_for('static', filename='images/favicon.ico') }}" alt="Spotify logo" height=76 width=76>
            </div>
                <h1>Welcome to Friendify.</h1>
                    <div class="spotify-button">
                        <a href="/login" class="button">To the (sample) Login Page</a>
                    </div>
                    <div class = "about-button">
                        <a href="/about" class="button">To the About Page</a>
                    </div>
            </div>
    </body>
    <body>
        <div class = "flex-body">
            <p>Hello, <span id="username">Guest</span>! ~ Visualize Your Listening Habits ~</p>
        </div>
        <script>
            window.onload = function() {
                if (new URLSearchParams(window.location.search).get('login') === 'success') {
                    alert('You have logged in successfully!');
                    // Redirect to remove the query parameter from URL
                    window.history.replaceState({}, document.title, "/");
                }
            };
        </script>

        <script>
            window.onload = function() {
                const urlParams = new URLSearchParams(window.location.search);
                const username = urlParams.get('username') || 'Guest';
                document.getElementById('username').textContent = username;
                window.history.replaceState({}, document.title, "/");
            };
        </script>

        <script src ="{{ url_for('static', filename='js/test2.js')}}"></script>

    </body>
    <body>
        <div class= "Spotify_icon2">
            <img src="{{ url_for('static', filename='images/Spotify_icon2.png') }}" alt="Spotify logo">
        </div>
    </body>
</html>